/* Общие стили */

body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222629;
    }
    
    /* Навигационная панель */
    .navbar {
    display: flex; 
    justify-content: space-between;
    background-color: #86C232; /* Последний цвет */
    padding: 10px;
    position: relative;
    }
    .navbar button {
    background-color: #86C232; /* Последний цвет */
    border: none;
    cursor: pointer;
    }
    
    /* Сайдбар */
    .content_sidebar {
    padding: 10px;
    }
    .sidebar {
    width: 250px;
    background-color: #222629; /* Последний цвет */
    color: #dbdbdb; /* Последний цвет */
    position: absolute;
    left: -250px; /* Скрыт по умолчанию */
    transition: left 0.3s ease;
    height: 100%;
    box-shadow: 2px 0 5px #3a3a39;
    z-index: 1000; /* Убедимся, что сайдбар выше других элементов */
    }
    
    .sidebar.active {
    left: 0; /* Показать сайдбар */
    }
    
    /* Основной контент */
    .content {
    transition: margin-left 0.3s ease; /* Плавный переход для сдвига контента */
    }
    main {
        background-color: #222629; /* Последний цвет */
        color: #c5c6c6; /* Последний цвет */
        padding: 20px;
        min-height: calc(100vh - 60px); /* Учитываем высоту подвала */
        box-sizing: border-box; /* Учитывать padding в высоте */
    }
    .block {
    background-color: #eaede8; /* Последний цвет */
    border: 1px solid #d0d5d1; /* Последний цвет */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    color: #61892F; /* Последний цвет */
    }
    
    /* Логотип */
    
    .logo {
    height: 45px;
    padding: 0px;
    }
    
    /* Hamburger Menu */
    .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    }
    

    .menu {
    display: none;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #eaede8;
    width: 150px;
    border-radius: 8px;
    overflow: hidden; 
    }
    
    .menu li {
    padding: 10px;
    text-align: center;
    background-color: #eef2ee;
    }
    .menu hr {
    display: block;
    color: #c4c4c4;
    margin: 0.5em auto; /* Центрирование */
    border-style: solid;
    border-width: 1px;
    width: 100%; /* Ширина линии относительно родителя */
    height: 0; /* Обеспечение правильной высоты */
    margin-top: 0;
    margin-bottom: 0;
    }
    
    .menu li:hover {
    background-color: #c4c4c4;
    transition: background-color 0.5s;
    }
    
    .menu a {
    color: #222629;
    text-decoration: none;
    }
    
    /* Show menu when active */
    .menu.show {
    display: flex;
    }
    
    /* Подвал */
    footer {
        background-color: #61892F; /* Последний цвет */
        padding: 10px;
        text-align: center;
        margin-top: auto; /* Сдвиг вниз, если используется flex-контейнер */
        flex-shrink: 0; /* Убедимся, что подвал не сжимается */
    }
    
    